<section class="main">
  <header class="header">
    <nav class="container nav">
      <ul>
        <li><a class="icon" [routerLink]="['/cadastro']"><i class="fa fa-user-plus" aria-hidden="true"></i> </a></li>
        <li><a class="icon" [routerLink]="['/']"><i class="fa fa-address-book" aria-hidden="true"></i></a></li>
        <li><a class="icon"[routerLink]="['/']"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a></li>
        <li><a class="icon"[routerLink]="['/login']"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
  </header>

  <section class="area">
    <div class="container">
      <router-outlet ></router-outlet>
    </div>
  </section>
</section>

