<section class="mainCad">
      <div class="user">
        <p class="userS para"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Olá, Finger Digital</p>
      </div>
      <div class="container-btn1">
        <button class="b1"  type="submit" [routerLink]="['/cadastro']" >Cadastrar</button>
      </div>
      <section class="cad">
        <table>
            <tr>
              <th>Nome</th>
              <th >Endereço</th>
              <th >Email</th>
              <th >Editar</th>
            </tr>
            <tr>
              <td>Lorem Ipsum</td>
              <td >Rua bebedouro 192</td>
              <td>bianca.alencar@fingerdigital.com.br</td>
              <td><a [routerLink]="['/cadastro']" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td>Lorem Ipsum</td>
              <td >Rua bebedouro 192</td>
              <td>bianca.alencar@fingerdigital.com.br</td>
              <td><a [routerLink]="['/cadastro']" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            </tr>

            <tr>
                <td>Lorem Ipsum</td>
              <td >Rua bebedouro 192</td>
              <td>bianca.alencar@fingerdigital.com.br</td>
              <td><a [routerLink]="['/cadastro']" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            </tr>

            <tr>
                <td>Lorem Ipsum</td>
              <td >Rua bebedouro 192</td>
              <td>bianca.alencar@fingerdigital.com.br</td>
              <td><a [routerLink]="['/cadastro']" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            </tr>

            <tr>
                <td>Lorem Ipsum</td>
              <td >Rua bebedouro 192</td>
              <td>bianca.alencar@fingerdigital.com.br</td>
              <td><a [routerLink]="['/cadastro']" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            </tr>
          </table>
      </section>
  </section>
