<section class="mainCad">
  <div class="titulo">
    <h1></h1>
  </div>
  <form>
    <div class="user">
      <p class="userS para" ><i class="fa fa-user-circle-o" aria-hidden="true"></i> Olá, Finger Digital</p>
    </div>
    <div class="container-btn1">
      <button class="btn b1"   [routerLink]="['/']">Voltar</button>
    </div>
    <div class="cad">

      <div class="w100"><span class="para">Nome </span>
        <input name="nome"  class="input w40"  type="text"placeholder="Nome"  required>
         <span class="para">CEP </span>
          <input name="cep"  class="input w40"  type="text"placeholder="CEP"  required></div>


        <div class="w100"><span class="para">Londradouro </span>
        <input name="londradouro"  class="input w40"  type="text"placeholder="Londradouro"  required>
        <span class="para">Nº </span>
        <input name="n"  class="input w20"  type="text"placeholder="Nº"  required></div>



          <div class="w100">
            <span class="para">Bairro </span>
            <input name="bairro"  class="input w30"  type="text"placeholder="Bairro"  required>
            <span class="para">Complemento </span>
            <input name="complemento"  class="input w30"  type="text"placeholder="Complemento"  required>
            <span class="para">Cidade </span>
            <input name="cidade" class="input w20 " placeholder="Cidade" type="text" required>
            </div>


            <div class="w100">
              <span class="para">Email </span>
              <input name="bairro"  class="input w100"  type="email"placeholder="Email"  required>
            </div>



        <div class="container-btn">
          <button class="btn"  type="submit" >Salvar</button>
        </div>


  </div>
    </form>
</section>
