<div class="user">
  <p class="userS para" ><i class="fa fa-user-circle-o" aria-hidden="true"></i> Olá, Finger Digital</p>
</div>
<div class="container-btn">
  <button class="btn"  type="submit" >Salvar</button>
</div> 
<table>
  <thead>
    <tr>
      <th class="th" scope="col">Nome</th>
      <th class="th" scope="col">Endereço</th>
      <th class="th" scope="col">E-mail</th>
      <th class="th" scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Nome">Lorem Ipsum</td>
      <td data-label="Endereço">Rua bebedouro 192</td>
      <td data-label="E-mail">bianca.alencar@fingerdigital.com.br</td>
      <td data-label="Editar"><a [routerLink]="['/cadastro']">Editar</a><td>
    </tr>
    <tr>
      <td data-label="Nome">Lorem Ipsum</td>
      <td data-label="Endereço">Rua bebedouro 192</td>
      <td data-label="E-mail">bianca.alencar@fingerdigital.com.br</td>
      <td data-label="Editar"><a [routerLink]="['/cadastro']">Editar</a><td>
    </tr>
    <tr>
      <td data-label="Nome">Lorem Ipsum</td>
      <td data-label="Endereço">Rua bebedouro 192</td>
      <td data-label="E-mail">bianca.alencar@fingerdigital.com.br</td>
      <td data-label="Editar"><a [routerLink]="['/cadastro']">Editar</a><td>
    </tr>
    <tr>
      <td data-label="Nome">Lorem Ipsum</td>
      <td data-label="Endereço">Rua bebedouro 192</td>
      <td data-label="E-mail">bianca.alencar@fingerdigital.com.br</td>
      <td data-label="Editar"><a [routerLink]="['/cadastro']">Editar</a><td>
    </tr>
  </tbody>
</table>